.astronomy {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/astonomy-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  div {
    display: flex;
    align-content: center;
    height: 10%;
    width: 50%;
    form {
      width: 100%;
      height: 100%;
      border: 3px solid black;
      border-radius: 0.5rem;
      text-align: center;
      input {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 1.9rem;
        font-weight: bold;
        border-radius: 0.5rem;
        background: rgba(0, 0, 0, 0.5);
        color: rgb(236, 218, 156);
      }
    }
  }

  .astronomy-result {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    p {
      color: rgb(236, 218, 156);
      text-align: justify;
      text-align-last: center;
      font-size: 3.4rem;
    }
    button {
      width: 50%;
      height: 10%;
      justify-self: center;
      align-self: center;
      border: 3px solid black;
      border-radius: 0.5rem;
      font-size: 1.9rem;
      font-weight: bold;
      color: rgb(236, 218, 156);
      background: rgba(0, 0, 0, 0.5);
      &:hover {
        box-shadow: 3px 3px 3px rgba(236, 218, 156, 0.7);
        border-radius: 0.5rem;
      }
    }
  }
}
