@import "colours";

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  // align-content: center;
  text-align: center;
  font-weight: bold;
  .project-creators-social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .footer-p {
      width: 20%;
      a {
        color: grey;
        text-decoration: none;
        img {
          margin-left: 1%;
          width: 15%;
          &:hover {
            border-radius: 0.5rem;
            scale: 1.3;
            font-weight: bold;
          }
        }
      }
    }
  }
}
