.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../images/snowing-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  .forecast-form {
    display: flex;
    align-content: center;
    height: 100%;
    width: 100%;
    margin-left: 0.4%;
    form {
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      div {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 10%;
        width: 100%;
        margin: 5px;
        input {
          width: 40%;
          height: 100%;
          text-align: center;
          font-size: 1.9rem;
          font-weight: bold;
          border: 3px solid blue;
          border-radius: 0.5rem;
          background: rgba(255, 255, 255, 0.2);
          color: blue;
          margin: 5px;
        }
        select {
          width: 20%;
          height: 100%;
          text-align: center;
          font-size: 36px;
          border: 3px solid blue;
          border-radius: 0.5rem;
          background: rgba(255, 255, 255, 0.3);
          color: blue;
          margin: 5px;
        }
      }
    }
  }
}

.block {
  display: block;
}

.display-flex-row {
  display: flex;
  width: 100%;
}

.forecast-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-size: 15px;

  // position: absolute;
  // top: 32%;
  // left: 40%;
  @media only screen and (max-width: 2400px) {
    left: 38%;
  }
  @media only screen and (max-width: 2300px) {
    left: 36%;
  }
  @media only screen and (max-width: 2200px) {
    left: 32%;
  }
  @media only screen and (max-width: 1800px) {
    left: 30%;
  }
  @media only screen and (max-width: 1480px) {
    top: 35%;
    left: 6%;
  }
}

.forecast-result {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 30%;
  font-size: 1.3rem;
  margin-bottom: 2%;
  p {
    color: blue;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 0.5rem;
    padding-left: 2%;
    border: 3px solid blue;
  }
  button {
    width: 50%;
    height: 10%;
    justify-self: center;
    align-self: center;
    border: 3px solid black;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: blue;
    background: rgba(255, 255, 255, 0.5);
    &:hover {
      box-shadow: 3px 3px 3px blue;
      border-radius: 0.5rem;
    }
  }
}

.forecast-extra {
  display: flex;
  flex-direction: column;
  color: blue;
}

.weather-summary-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  width: 100%;
  align-items: center;
}

.weather-summary {
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  width: 10%;
  border: 3px solid blue;
  p {
    margin: 0;
  }
}

#expand-div {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-left: 1%;
  margin-right: 1%;
  background: rgba(255, 255, 255, 0.4);
  border: 3px solid black;
  padding: 0.5%;
  font-size: 1rem;
  font-weight: bold;
}

.extra-weather-info-container {
  display: flex;
  flex-direction: row;
  width: 65%;
}

.extra-weather-info {
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  width: 9%;
  border: 3px solid blue;
  padding: 0.2%;
  p {
    margin: 0;
  }
}

.extra-weather-info-result {
  display: flex;
  flex-direction: row;
  margin-left: 1%;
  width: 90%;
  border: 3px solid blue;
  padding: 0.2%;
}

.extra-weather-info-column {
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  width: 20%;
  border-right: 2px solid blue;
  span {
    margin: 0;
  }
}
