header {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: grey;
  font-size: 1.2rem;
  font-weight: bold;
  nav {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: center;
    ul {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      list-style-type: none;
      a {
        color: grey;
        text-decoration: none;
        &:hover {
          border-radius: 0.5rem;
          scale: 1.1;
          color: blue;
          font-weight: bolder;
        }
      }
    }
  }
}
