@mixin flex-list($wrap: true) {
  &ul,
  ul {
    display: flex;
    @if $wrap {
      flex-wrap: wrap;
    }
    max-width: 100%;
    list-style: none;

    li {
      margin: 1rem;
      flex: 400px 1 1;
    }
  }
}

@mixin border-shadow($color: $dark) {
  border: $color solid 1px;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.75rem -0.25rem rgba($color, 0.7);
}

@mixin main-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: yellow;
  font-size: xx-large;
  @media only screen and (max-width: 2200px) {
    font-size: x-large;
  }
  @media only screen and (max-width: 1730px) {
    font-size: larger;
  }
  @media only screen and (max-width: 1055px) {
    font-size: large;
  }
}

@mixin main-display-text {
  display: flex;
  flex-wrap: wrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: yellow;
  font-size: xx-large;
  max-width: 600px;
  @media only screen and (max-width: 2200px) {
    font-size: x-large;
  }
  @media only screen and (max-width: 1800px) {
    max-width: 400px;
  }
  @media only screen and (max-width: 1730px) {
    max-width: 340px;
    font-size: larger;
  }
  @media only screen and (max-width: 1055px) {
    font-size: large;
    max-width: 600px;
  }
  @media only screen and (max-width: 360px) {
    font-size: small;
    max-width: 400px;
  }
}

@mixin main-options-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: yellow;
  font-size: large;
  margin: 0rem 0rem 1rem 0rem;
  &:hover {
    transform: translate(20px);
    transition: 500ms;
  }
  @media only screen and (max-width: 1730px) {
    font-size: medium;
  }
  @media only screen and (max-width: 1055px) {
    font-size: small;
  }
  @media only screen and (max-width: 360px) {
    font-size: x-small;
  }
}

@mixin show-info-text {
  display: flex;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 300px;
  font-weight: 700;
  color: yellow;
  font-size: larger;
  @media only screen and (max-width: 1730px) {
    width: 260px;
    font-size: large;
  }
  @media only screen and (max-width: 1055px) {
    font-size: medium;
  }
}

@mixin forecast-text {
  display: flex;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 500px;
  font-weight: 700;
  color: yellow;
  font-size: x-large;
  @media only screen and (max-width: 2300px) {
    width: 480px;
  }
  @media only screen and (max-width: 2300px) {
    width: 470px;
  }
  @media only screen and (max-width: 2200px) {
    width: 420px;
    font-size: larger;
  }
  @media only screen and (max-width: 1900px) {
    width: 380px;
    font-size: larger;
  }
  @media only screen and (max-width: 1800px) {
    font-size: large;
  }
  @media only screen and (max-width: 1730px) {
    width: 300px;
    font-size: medium;
  }
  @media only screen and (max-width: 1100px) {
    width: 280px;
  }
  @media only screen and (max-width: 1055px) {
    font-size: small;
  }
  @media only screen and (max-width: 360px) {
    font-size: x-small;
    width: 200px;
  }
}

@mixin forecast-text-astro {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 350px;
  font-weight: 700;
  color: yellow;
  font-size: x-large;
  margin-bottom: 20px;
  @media only screen and (max-width: 2200px) {
    width: 300px;
    font-size: larger;
  }
  @media only screen and (max-width: 1730px) {
    font-size: large;
  }
  @media only screen and (max-width: 1480px) {
    font-size: medium;
    width: 240px;
  }
  @media only screen and (max-width: 1055px) {
    font-size: small;
  }
  @media only screen and (max-width: 360px) {
    width: 200px;
  }
}

@mixin forecast-options-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: yellow;
  font-size: large;
  margin-left: 2rem;
  margin-top: 2.2rem;
  transform: rotate(90deg);
  @media only screen and (max-width: 1900px) {
    margin-left: 0rem;
  }
  @media only screen and (max-width: 1730px) {
    font-size: medium;
  }
  @media only screen and (max-width: 1100px) {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    margin-top: 1.5rem;
  }
  @media only screen and (max-width: 1055px) {
    font-size: small;
    display: none;
  }
}

@mixin forecast-expanded-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.5rem;
}

@mixin forecast-expanded-title {
  display: block;
  width: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: yellow;
  font-size: large;
  @media only screen and (max-width: 1980px) {
    font-size: medium;
  }
  @media only screen and (max-width: 1730px) {
    font-size: small;
  }
  @media only screen and (max-width: 1100px) {
    width: 90px;
  }
  @media only screen and (max-width: 1055px) {
    font-size: smaller;
    display: none;
  }
}

@mixin forecast-expanded {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: yellow;
  font-size: large;
  @media only screen and (max-width: 1980px) {
    font-size: medium;
  }
  @media only screen and (max-width: 1730px) {
    font-size: small;
  }
  @media only screen and (max-width: 1055px) {
    font-size: smaller;
    display: none;
  }
}

@mixin history-display-flex {
  display: flex;
}

@mixin navbar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: #002;
  font-size: larger;
}
