.main-text {
  @include main-text;
}

.main-display-text {
  @include main-display-text;
}

.home-input {
  @include main-text;
}

.main-options-text {
  @include main-options-text;
}
.show-info-text {
  @include show-info-text;
}

.navbar {
  @include navbar;
}

::placeholder {
  color: black;
}

.forecast-text {
  @include forecast-text;
}
.forecast-text-astro {
  @include forecast-text-astro;
}

.forecast-options-text {
  @include forecast-options-text;
}

.forecast-expanded-title {
  @include forecast-expanded-title;
}

.forecast-expanded {
  @include forecast-expanded;
}

.forecast-symbol {
  font-size: small;
}
