@import "./components/basic";
@import "./components/colours";
@import "./components/header";
@import "./components/mixins.scss";
@import "./components/astronomy";
@import "./components/home";
@import "./components/history";
@import "./components/forecast";
@import "./components/forecastDay";
@import "./components/text";
@import "./components/footer";
